
body {
    margin: 0;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
    color: white;
    padding: 0;
    background: url('../assets/bgtest1.png') no-repeat center center fixed;
    background-size: cover;
}
.divider-line{
    margin: 50px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.725);
}
